<!-- Toolbar with left and right content -->
<mat-toolbar color="primary" class="toolbar">
  <!-- Left-side content -->
  <div class="left-side">
    <button mat-icon-button class="Menu" aria-label="The Menu button">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Menu</span>
  </div>
  <!-- Right-side content -->
  <div class="right-side">
    <span class="example-spacer"></span>
    <button mat-button  routerLink="/product/list" class="Product" aria-label="The Products">
      Product
    </button>
    <button mat-button routerLink="/category/list" class="Category" aria-label="The Category">
      Category
    </button>
  </div>
</mat-toolbar>
