.product-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px; /* Povećana širina kontejnera */
  margin: auto;
  margin-top: 40px;

  h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-size: 27px;
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Grid raspored */
    grid-gap: 20px;
  }

  .product-card {
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;

    .product-info {
      margin-bottom: 20px;
    }

    .button-container {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .edit-button, .delete-button {
      cursor: pointer;
      border: none;
      padding: 8px 12px;
      border-radius: 4px;
      background-color: #eee;
      &:hover {
        background-color: #ddd;
      }

      .edit-button {
        color: #017bff;
      }

      .delete-button {
        color: #ff4141;
      }
    }
  }

  .create-product-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #017bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background-color: #4cae4c;
    }
  }
}
