<div class="product-container">
  <h2>Product list</h2>
  <div class="products-grid">
    <div *ngFor="let product of productShowDto" class="product-card">
      <div class="product-info">
        <p><strong>Name:</strong> {{product.name}}</p>
        <p><strong>Price:</strong> {{product.price}}</p>
        <p><strong>Sku:</strong> {{product.sku}}</p>
        <p><strong>Stock:</strong> {{product.stock}}</p>
      </div>
      <div class="button-container">
        <button class="edit-button">✏️</button>
        <button class="delete-button">🗑️</button>
      </div>
    </div>
  </div>
  <button class="create-product-button" routerLink="/product/edit/create" type="submit">Create product</button>
</div>
