.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ovo će centrirati formu vertikalno */
}

.login-form {
  width: 300px; /* Ovo možeš prilagoditi veličini forme prema potrebi */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Dodaj senku formi */
}
.input-container {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

mat-error {
  color: red;
}
