<div class="categories-container">
  <h2>Categories list</h2>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Editor</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categoryShowDto">
      <td>{{ category.name }}</td>
      <td>
        <button class="edit-button">✏️</button>
        <button class="delete-button">🗑️</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="create-category-button" routerLink="/category/edit/create" type="submit">Create category</button>
</div>
