.categories-container {
  display: flex;
  flex-direction: column;
  max-width: 600px; // Set a max-width for the container
  margin: auto; // Center the container on the page
  margin-top: 40px;

  h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-size: 27px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); // Add some shadow to lift the table off the page

    thead {
      tr {
        th {
          text-align: left;
          padding: 15px 20px;
          background-color: #f4f4f4; // Light grey background for the table header
          border-bottom: 2px solid #ddd; // Separator for header
        }
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: #fafafa; // Zebra striping for rows
        }

        td {
          padding: 10px 20px;
          border-bottom: 1px solid #eee; // Light separator for rows

          &:last-child {
            text-align: right; // Align the action buttons to the right
          }
        }
      }
    }
  }

  .edit-button,
  .delete-button {
    cursor: pointer;
    border: none;
    padding: 8px 12px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #eee; // Neutral background for buttons
    &:hover {
      background-color: #ddd; // Slight darkening on hover
    }
  }

  .edit-button {
    color: #017bff; // Blue color for the edit button
  }

  .delete-button {
    color: #ff4141; // Red color for the delete button
  }

  .create-category-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #017bff; // Green background for the primary action
    color: white;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background-color: #4cae4c; // Darken the green on hover
    }
  }
}
